<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>&quot;Real&quot;</key>
		<string></string>
		<key>AlbumInfo</key>
		<array>
			<dict>
				<key>&quot;제목&quot;</key>
				<string>&quot;이게아닌데&quot;</string>
				<key>&quot;시간&quot;</key>
				<string>&quot;03:04&quot;</string>
				<key>&quot;가수&quot;</key>
				<string>&quot;아이유&quot;</string>
			</dict>
			<dict>
				<key>&quot;제목&quot;</key>
				<string>느리게 하는일</string>
				<key>&quot;시간&quot;</key>
				<string>04:12</string>
				<key>&quot;가수&quot;</key>
				<string>&quot;아이유&quot;</string>
			</dict>
			<dict>
				<key>&quot;제목&quot;</key>
				<string>좋은날</string>
				<key>&quot;시간&quot;</key>
				<string>03:53</string>
				<key>&quot;가수&quot;</key>
				<string>&quot;아이유&quot;</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>&quot;Palette&quot;</key>
		<string></string>
		<key>AlbumInfo</key>
		<array>
			<dict>
				<key>&quot;제목&quot;</key>
				<string>팔레트</string>
				<key>&quot;시간&quot;</key>
				<string>03:37</string>
				<key>&quot;가수&quot;</key>
				<string>&quot;아이유&quot;</string>
			</dict>
			<dict>
				<key>&quot;제목&quot;</key>
				<string>이 지금</string>
				<key>&quot;시간&quot;</key>
				<string>02:56</string>
				<key>&quot;가수&quot;</key>
				<string>&quot;아이유&quot;</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>stellarInToTheWorld</key>
		<string></string>
		<key>AlbumInfo</key>
		<array>
			<dict>
				<key>제목</key>
				<string>왜 때문에</string>
				<key>시간</key>
				<string>03:33</string>
				<key>가수</key>
				<string>스텔라</string>
			</dict>
			<dict>
				<key>제목</key>
				<string>TheWave</string>
				<key>시간</key>
				<string>03:33</string>
				<key>가수</key>
				<string>스텔라</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
